.dashboard-sidebar {
    display: none;
}

.dashboard-mainbar {
    flex-basis: 100%;
}

.responsive-dashboard-menuIcon {
    cursor: pointer;
    color: white !important;
    background-color: #374151 !important;
    padding: 10px;
    border-radius: 50%;
    font-size: 50px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.dashboard-sidebar-open {
    position: absolute;
    top: 0;
    left: 0;
}

@media (min-width: 768px) {
    .dashboard-sidebar {
        display: block
    }
    .dashboard-mainbar {
        flex: 0.8
    }
    .responsive-dashboard-menuIcon {
        display: none;
    }
}